.profile {
  margin: 0 auto;
  display: flex;
  max-width: 1280px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.profile__container {
  margin: 0 auto;
  max-width: 410px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}
.profile__title {
  margin: 0;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 123px;
}
.profile__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.profile__name {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid #e8e8e8; */
  padding-bottom: 5px;
}
.profile__email {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  margin-bottom: 10px;
}
.profile__label {
  margin: 0;
  text-align: left;
  color: #000;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.profile__input {
  width: 80%;
  padding: 0;
  text-align: right;
  outline: none;
  border: none;
  color: #000;
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.profile__input:focus {
  border: 1px solid #3861f5;
  border-radius: 7px;
  padding: 2px;
}
.profile__error {
  margin: 0;
  color: #ff004c;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  min-height: 14px;
  text-align: left;
}
.profile__error_active-up {
  opacity: 1;
  border-bottom: 1px solid #e8e8e8;
}
.profile__error_active-down {
  opacity: 1;
}
.profile__error_valid{
  text-align: center;
  
}
.profile__error_passiv{
  opacity: 1;
}
.profile__edit {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 70px;
  margin-top: 180px;
}
.profile__redactor {
  margin: 0;
  color: #000;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background: none;
}
.profile__redactor:hover {
  opacity: 0.7;
  cursor: pointer;
}
.profile__out {
  color: #ee3465;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.profile__out:hover {
  opacity: 0.7;
  cursor: pointer;
}
.profile__save {
  border-radius: 3px;
  background: #3456f3;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* max-width: 410px; */
  width: 100%;
  height: 45px;
}
.profile__save:hover {
  opacity: 0.7;
  cursor: pointer;
}
.profile__save:disabled {
  background: #b8b2b2;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile {
    max-width: 768px;
  }
  .profile__container {
    margin-top: 232px;
  }
  .profile__title {
    margin-bottom: 96px;
  }
  .profile__edit {
    margin-bottom: 269px;
    margin-top: 180px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile {
    max-width: 320px;
  }
  .profile__container {
    max-width: 260px;
    margin-top: 68px;
  }
  .profile__title {
    margin-bottom: 78px;
  }
  .profile__name {
    padding-bottom: 0;
  }
  .profile__error {
    font-size: 9px;
    line-height: 1.2;
  }
  .profile__edit {
    margin-bottom: 40px;
    margin-top: 345px;
  }
}
